#tx1,#tx2,#tx3{
    color:rgb(176, 214, 20);
    font-size: 200px;
    margin-top:100px;
    text-shadow: -15px  -3px 12px black;
}
#bd,#img{
    background-image: url(images.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size: 1000px;
    background-position-x: 2000px;
    background-position-y: 300px;
    animation: zo;
    animation-duration: 5s;
    animation-iteration-count: infinite;

    
}
@keyframes zo{
    0%{background-size: 1000px;}
    50%{background-size: 2000px;}
    100%{background-size: 1000px;}

}
#img{
    border: solid;
    border-color: red;
    box-shadow: -15px 20px 44px red;
    animation: rota;
    animation-duration: 25s;
    animation-iteration-count: infinite;

}
@keyframes rota{
    100%{transform: rotateY(720deg);}
}
